#board-canvas {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* position: relative; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(131, 140, 145);
}

#board {
    /* height: auto;
    user-select: none;
    white-space: nowrap;
    padding: 5px;
    position: relative;
    flex-grow: 1;
    width: fit-content;
    background-color: rgb(131, 140, 145); */

    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    padding: 5px;
    /* margin-bottom: 8px; */
    overflow-x: auto;
    overflow-y: hidden;
    /* padding-bottom: 8px; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

/*#region 리스트*/
.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

#mod-list-float {
    background-color: #6F777B;
    height: auto;
    /* background-color: rgb(172, 172, 172); */
}

#mod-list-float>div {
    visibility: hidden;
}

.list {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.list-header {
    flex: 0 0 auto;
    padding: 10px 8px;
    position: relative;
    min-height: 20px;
}

.float-list-target,
.float-item-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.floating {
    position: absolute;
}

.list-title {
    font-weight: 500;
    color: #464646;
}

/*#endregion 리스트*/

/*#region 리스트 - 추가*/
.mod-add {
    background-color: #ebecf0;
    border-radius: 3px;
    height: auto;
    min-height: 32px;
    padding: 4px;
    cursor: pointer;
}

/*#endregion 리스트 - 추가*/

/*#region 리스트 - 추가(idle 상태)*/
.mod-add.list-wrapper.is-idle:hover {
    background-color: hsla(0, 0%, 100%, .32);
}

.mod-add.list-wrapper.is-idle {
    background-color: hsla(0, 0%, 100%, .24);
    cursor: pointer;
}

.list-wrapper .open-add {
    color: white
}

.placeholder {
    display: block;
    padding: 5px;
}

.icon-add {
    display: inline-block;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    width: 20px;
    /* color: white */
}

/* #endregion 리스트 - 추가(idle 상태)*/



/*#region 리스트 - 추가(active 상태)*/


.list-name-input,
.item-name-input {
    width: -webkit-fill-available;
    background-color: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 8px 12px;
    outline: none;
}

.list-add-controls,
.item-add-controls {
    display: flex;
}

.add-button {
    padding: 8px 12px;
    background-color: #5aac44;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    outline: none;

}

.add-button:hover {
    background-color: #61bd4f
}

.add-close-button {
    font-size: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

/*#endregion 리스트 - 추가(active 상태)*/

/*#region 아이템 - 추가(active 상태)*/
.item-wrapper {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    cursor: pointer;
    display: block;
    margin: 5px 8px;
    padding: 7px;
    max-width: 240px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.add-item {
    padding: 4px 8px;
}

.add-item .open-add {
    color: rgb(54, 54, 54);
}

#mod-item-float {
    background-color: #d4d4d4;
}

#mod-item-float>div {
    visibility: hidden;
}